ColladaMax/*.ncb
ColladaMax/*.suo
ColladaMax/*.user
ColladaMax/Output
ColladaMaya/*.ncb
ColladaMaya/*.suo
ColladaMaya/*.user
ColladaMaya/Output
ColladaMotionBuilder/*.ncb
ColladaMotionBuilder/*.suo
ColladaMotionBuilder/*.user
ColladaMotionBuilder/Output
FCollada/*.ncb
FCollada/*.suo
FCollada/*.user
FCollada/FColladaTest/Output
FCollada/Output
FColladaPlugins/FArchiveXML/*.user
FColladaPlugins/Output
FColladaTools/*.ncb
FColladaTools/Output
